.kanban-board {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;

  .kanban-column {
    flex: 1;
    min-width: 280px;
    background: #f5f8fa;
    padding: 10px;
    border-radius: 6px;

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.task-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .bp4-button {
    flex: 1;
    min-width: 120px;
    justify-content: center;
  }
}
